# 1. Mode

### * It is the number which occurs most frequently in data series.

### * It is robust and is not generally much affected by addition of couple of new values.

Mode is generally calculated of categorical values.

In [10]:
#importing the library
import pandas as pd

#loading the dataset
df = pd.read_csv("insurance_data.csv")

In [11]:
#printing top 20 rows
df.head(20)

    age  bought_insurance
0    22                 0
1    25                 0
2    47                 1
3    52                 0
4    46                 1
5    56                 1
6    55                 0
7    60                 1
8    62                 1
9    61                 1
10   18                 0
11   28                 0
12   27                 0
13   29                 0
14   49                 1
15   55                 1
16   25                 1
17   58                 1
18   19                 0
19   18                 0

In [12]:
#Calculating mode of age column
mode_data = df['age'].mode()

In [13]:
print(mode_data)

0    18
1    25
2    55
Name: age, dtype: int64

# 2. Types of Variables

   ## (1) Continous Variables : 
        They have values having continous numerical values
   ## (2) Categorical Variables: 
        Which have discrete values or variables ahving categories, example : Male or Female
            a. Nominal Variables : which donot have inherent order to them, categories with order
            b. Ordinal Variables : categories without order, ex: Bad, Good, Excellent

# 2. Mean / Average

mean = sum of quantities / number of quantities

In [18]:
#importing libraries
import pandas as pd

#loading data
data = pd.read_csv("Student_Marks.csv")

In [20]:
#printing first 5 rows
data.head()

   number_courses  time_study   Marks
0               3       4.508  19.202
1               4       0.096   7.734
2               4       3.133  13.811
3               6       7.909  53.018
4               8       7.811  55.299

In [21]:
#Calculating mean
mean_data = data['Marks'].mean()

In [22]:
#printing mean
print(mean_data)

24.417689999999997

In [23]:
#Calculate and print mode
mode_data = data['Marks'].mode()
print(mode_data)

0      5.609
1      6.053
2      6.185
3      6.217
4      6.349
       ...
95    53.018
96    53.158
97    53.359
98    54.321
99    55.299
Name: Marks, Length: 100, dtype: float64

In [30]:
#Added value at 10000 at bottom of file and saved it as mean_robust.csv
data_new = pd.read_csv("mean_robust.csv")

In [31]:
data_new.tail()

     number_courses  time_study      Marks
96                3       0.301      5.609
97                4       7.163     41.444
98                7       0.309     12.027
99                3       6.335     32.357
100               2       4.560  10000.000

In [32]:
#calculating mean
new_mean = data_new['Marks'].mean()
new_mean  #increased to 100

123.18583168316832

In [34]:
prime_no = [2, 3, 5, 7, 11]
prime_no_mean = sum(prime_no) / len(prime_no)

print("Mean of prime numbers:", prime_no_mean)

Mean of prime numbers: 5.6

In [35]:
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

def generate_primes(count):
    primes = []
    num = 2
    while len(primes) < count:
        if is_prime(num):
            primes.append(num)
        num += 1
    return primes

# Get the first 10 prime numbers
first_10_primes = generate_primes(10)

# Calculate the mean
mean_of_first_10_primes = sum(first_10_primes) / len(first_10_primes)

print("First 10 prime numbers:", first_10_primes)
print("Mean of the first 10 prime numbers:", mean_of_first_10_primes)

First 10 prime numbers: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]
Mean of the first 10 prime numbers: 12.9